/* Write your CSS here */
.summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.summary-checkbtn {
  background-color: rgb(22, 204, 22);
  color: white;
  border: none;
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
  margin-top: 10px;
}

.summary-head{
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500; 
  width: fit-content;
  margin: 0px;
}

.summary-para{
   margin: 0px;
   align-self: flex-start;
}

